In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import OneHotEncoder
import importlib

In [18]:
from libs import Tidy

In [19]:
#necessary for debugging my Tidy module without having to refresh the kernel after every change.
importlib.reload(Tidy)

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-
#loans_df = pd.read_csv('../Resources/LoanStats_2019Q1.csv.zip')
#loans_df.head()

In [20]:
columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = "loan_status"

In [21]:
# Load the data
file_path = Path('../Resources/LoanStats_2019Q1.csv.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [22]:
#Dropping columns with no variance
df.tidy.drop_lowvar()

The following 10 columns were dropped:
-----------------
['pymnt_plan', 'recoveries', 'collection_recovery_fee', 'policy_code', 'acc_now_delinq', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'tax_liens', 'hardship_flag', 'debt_settlement_flag']

In [23]:
#Setting X and y (Features and target)
X,y = df.tidy.set_Xy(target)

In [24]:
#encoding X dataframe
X = X.tidy.encode_cats()

6 categorial features were found (datatype == object):
--------------
['home_ownership', 'verification_status', 'issue_d', 'initial_list_status', 'next_pymnt_d', 'application_type']

The above categorical features were found. Are any of them ordinal? (y/n) n

Encoding completed.

In [25]:
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,Not Verified,Mar-2019,Feb-2019,Jan-2019,w,f,May-2019,Apr-2019,Individual,Joint App
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,0,0,0,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,0,0,1,0,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,0,0,1,0,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,0,0,1,0,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,0,0,0,1,0,1,0,1,1,0

In [27]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [31]:
# Resample the training data with the RandomOversampler
from collections import Counter
from imblearn.over_sampling import RandomOverSampler

ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
Counter(y_resampled)

Counter({'low_risk': 51366, 'high_risk': 51366})

In [33]:
# Calculated the balanced accuracy score
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators = 100, random_state = 1)
random_forest.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [34]:
y_prediction = random_forest.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_prediction)

0.683080618047773

In [35]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_prediction)

array([[   37,    64],
       [    3, 17101]], dtype=int64)

In [36]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_prediction))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.93      0.37      1.00      0.52      0.61      0.34       101
   low_risk       1.00      1.00      0.37      1.00      0.61      0.39     17104

avg / total       1.00      1.00      0.37      1.00      0.61      0.39     17205

In [38]:
# List the features sorted in descending order by feature importance
importances = random_forest.feature_importances_
sorted(zip(random_forest.feature_importances_, X.columns), reverse=True)

[(0.07283736932190271, 'total_rec_int'),
 (0.06943107840090679, 'last_pymnt_amnt'),
 (0.06241467266428827, 'total_pymnt'),
 (0.06036578557200332, 'total_rec_prncp'),
 (0.05734634631275085, 'total_pymnt_inv'),
 (0.02348075774233096, 'out_prncp_inv'),
 (0.022010438263266593, 'installment'),
 (0.021464108455819846, 'out_prncp'),
 (0.017494375372864125, 'dti'),
 (0.01632107542783167, 'mo_sin_old_il_acct'),
 (0.016165810946201436, 'max_bal_bc'),
 (0.016147326799201136, 'mo_sin_old_rev_tl_op'),
 (0.015150314319948068, 'bc_open_to_buy'),
 (0.014877866551474925, 'total_bal_ex_mort'),
 (0.014536657299690534, 'bc_util'),
 (0.01453429171318182, 'revol_bal'),
 (0.014490984251132868, 'total_rec_late_fee'),
 (0.014215245983456568, 'avg_cur_bal'),
 (0.01368399372345655, 'total_bal_il'),
 (0.01358986003232076, 'tot_hi_cred_lim'),
 (0.013490368307505638, 'loan_amnt'),
 (0.013294169627619217, 'tot_cur_bal'),
 (0.013131383503531225, 'total_rev_hi_lim'),
 (0.012944682930738314, 'annual_inc'),
 (0.01287258625413298, 'total_il_high_credit_limit'),
 (0.012829426153101557, 'il_util'),
 (0.012331898608988019, 'total_acc'),
 (0.01228029984822423, 'total_bc_limit'),
 (0.01180284876317926, 'int_rate'),
 (0.011791857559208137, 'mths_since_rcnt_il'),
 (0.011745540130155468, 'mths_since_recent_bc'),
 (0.011459714218288295, 'all_util'),
 (0.010968902577112322, 'num_il_tl'),
 (0.010281259577755488, 'mths_since_recent_inq'),
 (0.009555085148115733, 'num_rev_accts'),
 (0.009225089035392512, 'acc_open_past_24mths'),
 (0.009066680156143961, 'mo_sin_rcnt_rev_tl_op'),
 (0.00886789817363448, 'num_sats'),
 (0.0088545251521329, 'pct_tl_nvr_dlq'),
 (0.00880763118110972, 'open_acc'),
 (0.008569958685475217, 'num_bc_tl'),
 (0.008325094117976436, 'num_actv_bc_tl'),
 (0.00829798797097935, 'num_op_rev_tl'),
 (0.008059618805061298, 'total_cu_tl'),
 (0.007821624917742423, 'num_rev_tl_bal_gt_0'),
 (0.0077689082648787385, 'inq_last_12m'),
 (0.007515022227082936, 'mo_sin_rcnt_tl'),
 (0.007329648039092636, 'Jan-2019'),
 (0.007264341627549088, 'open_act_il'),
 (0.007221746154967207, 'open_il_24m'),
 (0.007214825320306724, 'open_rv_24m'),
 (0.0070424542039775415, 'open_acc_6m'),
 (0.006903662221493007, 'mort_acc'),
 (0.006801328920640976, 'num_bc_sats'),
 (0.006734028216038189, 'num_actv_rev_tl'),
 (0.006581851013748503, 'percent_bc_gt_75'),
 (0.006379387095160212, 'num_tl_op_past_12m'),
 (0.006209180057910952, 'inq_fi'),
 (0.006182095887678493, 'open_rv_12m'),
 (0.005379843211777611, 'tot_coll_amt'),
 (0.005023475170047476, 'Feb-2019'),
 (0.0050045292395376455, 'Mar-2019'),
 (0.00488787387762269, 'Apr-2019'),
 (0.004867567120144322, 'inq_last_6mths'),
 (0.0044547870777685876, 'open_il_12m'),
 (0.004296352389371356, 'May-2019'),
 (0.003411957110910311, 'delinq_2yrs'),
 (0.003221631787071911, 'num_accts_ever_120_pd'),
 (0.0026500109180400827, 'pub_rec_bankruptcies'),
 (0.00238650406507827, 'pub_rec'),
 (0.0022263155601209925, 'Joint App'),
 (0.0020354708490549957, 'Not Verified'),
 (0.0019920083401158543, 'collections_12_mths_ex_med'),
 (0.0019206059685079565, 'Verified'),
 (0.001805047728757047, 'Individual'),
 (0.0017033417597101502, 'Source Verified'),
 (0.0016433804208443466, 'MORTGAGE'),
 (0.0014474247074775742, 'OWN'),
 (0.001361348693375966, 'num_tl_90g_dpd_24m'),
 (0.001166084638976335, 'ANY'),
 (0.000932990901499427, 'w'),
 (0.0008230814165554691, 'f'),
 (0.00079972043700738, 'RENT'),
 (0.00017567680276717822, 'chargeoff_within_12_mths'),
 (0.0, 'delinq_amnt')]

### Easy Ensemble AdaBoost Classifier

In [15]:
# Train the Classifier
# YOUR CODE HERE

EasyEnsembleClassifier(base_estimator=None, n_estimators=100, n_jobs=1,
            random_state=1, replacement=False, sampling_strategy='auto',
            verbose=0, warm_start=False)

In [16]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

0.9316600714093861

In [17]:
# Display the confusion matrix
# YOUR CODE HERE

array([[   93,     8],
       [  983, 16121]])

In [18]:
# Print the imbalanced classification report
# YOUR CODE HERE

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.09      0.92      0.94      0.16      0.93      0.87       101
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17104

avg / total       0.99      0.94      0.92      0.97      0.93      0.87     17205